<%- include('./layout') %>
<!-- content -->
<div class="container dashboard-content-area mt-5 pt-3">
    <div class="row">
        <div class="col-12 my-3">
            <h5 class="fw-bold bg-info">Link 2 Area</h5>
        </div>
    </div>
</div>
<!-- content -->
<%- include('./layout-footer') %>
