<%- include('./layout') %>
<!-- main -->
    <main class="mt-5 pt-3">
        <!-- Top cards -->
        <div class="container">
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="fw-bold">Admin Dashboard</h5>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-6 col-md-3 mb-3"> -->
                    <div class="col-12 col-sm-6 col-md-3 mb-3">
                        <!-- <div class="card h-100 top-cards" style="max-width: 18rem;"> -->
                            <div class="card h-100 top-cards">
                                <div class="card-header bg-transparent border-success">Header</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
                </div>
                <!-- <div class="col-6 col-md-3 mb-3"> -->
                    <div class="col-12 col-sm-6 col-md-3 mb-3">
                        <!-- <div class="card h-100 top-cards" style="max-width: 18rem;"> -->
                    <div class="card h-100 top-cards">
                        <div class="card-header bg-transparent border-success">Header</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
                </div>
                <!-- <div class="col-6 col-md-3 mb-3"> -->
                    <div class="col-12 col-sm-6 col-md-3 mb-3">
                        <!-- <div class="card h-100 top-cards" style="max-width: 18rem;"> -->
                    <div class="card h-100 top-cards">
                        <div class="card-header bg-transparent border-success">Header</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
                </div>
                <!-- <div class="col-6 col-md-3 mb-3"> -->
                    <div class="col-12 col-sm-6 col-md-3 mb-3">
                        <!-- <div class="card h-100 top-cards" style="max-width: 18rem;"> -->
                    <div class="card h-100 top-cards">
                        <div class="card-header bg-transparent border-success">Header</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Top cards -->

        <!-- Middle Charts -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 top-cards">
                        <div class="card-header">Charts</div>
                        <div class="card-body">
                            <div>
                                <canvas id="myChartLeft"></canvas>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3 top-cards">
                        <div class="card-header">Charts</div>
                        <div class="card-body">
                            <div>
                                <canvas id="myChartRight"></canvas>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Middle Charts -->

        <!-- DataTable -->
        <div class="container my-5 pt-3">
            <h6 class="fw-bold ps-2">RECORDS</h6>
            <hr class="table-group-divider">
        <div class="row table-responsive">
            <!-- <table id="example" class="table-striped table-bordered nowrap" style="width:100%"> -->
                <table id="recordsTable" class="display compact" style="width:100%">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011-04-25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011-07-25</td>
                        <td>$170,750</td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009-01-12</td>
                        <td>$86,000</td>
                    </tr>
                    <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012-03-29</td>
                        <td>$433,060</td>
                    </tr>
                    <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008-11-28</td>
                        <td>$162,700</td>
                    </tr>
                    <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2012-12-02</td>
                        <td>$372,000</td>
                    </tr>
                    <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>2012-08-06</td>
                        <td>$137,500</td>
                    </tr>
                    <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>2010-10-14</td>
                        <td>$327,900</td>
                    </tr>
                    <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>2009-09-15</td>
                        <td>$205,500</td>
                    </tr>
                    <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008-12-13</td>
                        <td>$103,600</td>
                    </tr>
                    <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>2008-12-19</td>
                        <td>$90,560</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <!-- DataTable -->
    </main>
<!-- main -->
<%- include('./layout-footer') %>
