        <!-- Scripts -->
        <!-- Charts -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/chartsLeft.js"></script>
        <script src="/js/chartsRight.js"></script>
        <!-- Charts -->

        <!-- Datatables -->
        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/DataTables/dataTables2.2.2.js"></script>
        <!-- <script src="">new DataTable('#example')</script> -->
        <script>
            $(document).ready( function () {
                $('#recordsTable').DataTable();
            } )
        </script>
        <script>
            $(document).ready( function () {
                $('#recordsTableUpdateShipment').DataTable();
            } )
        </script>
        <!-- Datatables -->
        <!-- Scripts -->
    </body>
</html>