<%- include('./layout') %>
<!-- content -->
<div class="container dashboard-content-area mt-5 pt-3">
    <div class="row">
        <div class="col-8 my-3 shipment-donurt-pie-section">
            hi
        </div>
        <div class="col-4 d-flex flex-column shipment-stacked-section">
            <div class="">1</div>
            <div class="">2</div>
        </div>
    </div>
</div>
<!-- content -->
<%- include('./layout-footer') %>
