<!-- Z-index cards on top of carousel slider -->
<div class="carousel-cards container position-absolute start-50 translate-middle-x" style="z-index: 10; margin-top: -40px;">
    <div class="d-flex justify-content-center">
      <div class="caro-cards card mb-3 rounded-0 h-50" style="max-width: 18rem;">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body p-5 text-center">
          <i class="fas fa-calendar-alt py-2"></i>
          <h6 class="card-title">Ship Now</h6>
          <p class="card-text">Find the right service</p>
        </div>
      </div>
      <div class="caro-cards card mb-3 rounded-0 h-50" style="max-width: 18rem;">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body p-5 text-center">
          <i class="fas fa-calendar-check py-2"></i>
          <h6 class="card-title">Get a quote</h6>
          <p class="card-text">Estimate cost and compare</p>
        </div>
      </div>
      <div class="caro-cards card mb-3 rounded-0 h-50" style="max-width: 18rem;">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body p-5 text-center">
          <i class="fas fa-city py-2"></i>
          <h6 class="card-title">FX for business</h6>
          <p class="card-text">Request a business account</p>
        </div>
      </div>
    </div>
</div>
