    <!--Header starts here -->
    <header class="header-section sticky-top">
      <div class="container-fluid d-flex py-4">
        <div>
          <a href="/">
            <svg width="200" height="60" viewBox="40 0 200 80" xmlns="http://www.w3.org/2000/svg">
              <!-- Letter F -->
              <text x="10" y="55" font-family="Montserrat, sans-serif" font-size="50" font-weight="700" fill="#E3000F">
                Q
              </text>
          
              <!-- Custom "X" with a much longer "/" and shorter "\" -->
              <g transform="translate(35, 10)">
                <!-- Longer Slash "/" -->
                <line x1="-10" y1="65" x2="80" y2="-15" stroke="#E3000F" stroke-width="8" stroke-linecap="round" />
                <!-- Shorter Backslash "\" -->
                <line x1="10" y1="10" x2="50" y2="50" stroke="#E3000F" stroke-width="8" stroke-linecap="round" />
              </g>
            </svg>
          </a>
        </div>
        <div class="d-flex flex-grow-1"></div>
        <div class="text-icon mx-1"><i class="fas fa fa-search-plus"></i><a href="#">Find agent</a></div>
        <div class="text-icon mx-2"><i class="fas fa-language"></i><a href="#">Language</a></div>
        <div class="text-icon mx-1"><i class="fas fas fa-chart-area"></i><a href="#">Locations</a></div>
        <div class="text-icon mx-2"><i class="fas fas fa-atlas"></i><a href="#">Country</a></div>
      </div>
    </header>
    <!-- Header ends here -->