<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-sm">
    <div class="container-fluid">
      <!-- <a class="navbar-brand text-decoration-none" href="/">FX</a> -->
      <a class="navbar-brand text-decoration-none" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="hoverable-nav-link nav-link active" aria-current="page" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="hoverable-nav-link nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Customer Service
            </a>
            <ul class="dropdown-menu border-0 rounded-0">
              <li><a class="dropdown-item" href="/service">Contact support</a></li>
              <li><a class="dropdown-item" href="#">FAQs</a></li>
              <!--<li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li> -->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item disabled" href="#">Explore more opportunities</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"> 
            <a class="hoverable-nav-link nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bookings
            </a>
            <ul class="dropdown-menu border-0 rounded-0">
              <li><a class="dropdown-item disabled" href="/bookings">Private Booking</a></li>
              <li><a class="dropdown-item disabled" href="#">Coperate Booking</a></li>
              <!-- <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li> -->
              <!-- <li><a class="dropdown-item" href="#">Explore more opportunities</a></li> -->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item disabled" href="#">Explore more opportunities</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="hoverable-nav-link nav-link" href="/ship">Ship</a>
          </li>
          <li class="nav-item dropdown">
            <a class="hoverable-nav-link nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Customer Login
            </a>
            <ul class="dropdown-menu border-0 rounded-0">
              <div class="card shadow-sm" style="width: 18rem;">
                <div class="card-header fw-semibold">
                  Login To
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action list-group-item-light">
                    <a href="/auth/admin-login" target="_blank" class="text-decoration-none text-dark">Support Team</a>
                  </li>
                  <li class="list-group-item list-group-item-action list-group-item-light">
                    <a href="/auth/user-login" target="_blank" class="text-decoration-none text-dark">My FX Account</a>
                  </li>
                  <li class="list-group-item list-group-item-action list-group-item-light">
                    <a href="#" class="text-decoration-none text-dark">Customer Account</a>
                  </li>
                  <li class="list-group-item list-group-item-action list-group-item-light">
                    <a href="#" class="text-decoration-none text-dark">Merchant Account</a>
                  </li>
                </ul>
                <div class="card-footer text-center bg-light">
                  <button class="btn btn-outline-success w-100">Learn About FX Logistics</button>
                </div>
              </div>
            </ul>
          </li>
          <li class="nav-item">
            <a class="hoverable-nav-link nav-link disabled" aria-disabled="true">Become a partner</a>
          </li>
        </ul>
        <form action="/shipment/track-shipment" class="d-flex" role="search">
          <input class="form-control rounded-0" name="trackingNum" type="search" placeholder=" Enter your Tracking number(s) .." aria-label="Track shipment">
          <button class="btn btn-outline-success rounded-0 px-4" type="submit">Track</button>
        </form>
      </div>
    </div>
  </nav>
