<!-- Service 2 section -->
<div class="z-index-cards-container container position-relative">
    <div class="z-index-cards left-container col-12 col-sm-6 p-3 position-absolute" style="left: 0;">
      <div class="card rounded-0 border-0" style="width: auto">
        <img src="images/sea-freight.jpeg" class="card-img-top rounded-0" style="height: 320px;" alt="..."> 
        <!-- <div class="card-body">
          <p class="card-text">Build on the card title and make up the bulk of the card's content.</p>
        </div> -->
      </div>
    </div> 
    <div class="z-index-cards right-container col-12 col-sm-6 p-3 position-absolute" style="right: 10px;">
      <div class="card rounded-0 border-0" style="width: auto;">
        <img src="images/trucks.jpg" class="card-img-top rounded-0" style="height: 420px;" alt="...">
        <!-- <div class="card-body">
          <p class="card-text">Build on the card title and make up the bulk of the card's content.</p>
        </div> -->
      </div>
  </div>
</div>
