<!-- Service 3 bottom cards -->
<div class="container py-5">
    <div class="row gx-5">
      <div class="col-sm-6 p-3" >
        <div class="caro-cards card rounded-0 px-2 pt-2">
          <img src="images/pexels-tima-miroshnichenko-6169002.jpg" width="100%" height="100%" class="card-img-top rounded-0" alt="...">
          <div class="bottom-cards card-body">
            <strong class="text text-decoration-underline" href="#">Sustainability</strong><i class="fas fa-angle-right"></i>
            <p class="card-text mt-3">Sustainable business begins with sustainable supply chains. 
              We proudly provide a comprehensive portfolio of emission reduced logistics solutions. 
              Find out what we have to offer, why we’re committed to sustainability, 
              and how our industry is helping deliver an even better world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-3">
        <div class="caro-cards card rounded-0 px-2 pt-2">
          <img src="images/pexels-tima-miroshnichenko-6169033.jpg" width="100%" height="100%" class="card-img-top rounded-0" alt="...">
          <div class="bottom-cards card-body">
            <strong class="text text-decoration-underline" href="#">Sustainability</strong><i class="fas fa-angle-right"></i>
            <p class="card-text mt-3">We are proud to be one the most reliable logistics company internationally. Reliability is earned and not self acclaimed.<br>
              Global trade recovered in 2024 and is forecast to grow faster over the next five years than during the preceding decade.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
