<!-- Service 1 section -->
<div class="card service container">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body my-md-4">
          <h4 class="card-title">Cargo Shipping</h4>
          <p class="card-text">Discover shipping and logistics service options from Q-Ship Logistics Global Forwarding.
            <div class="row bg-body-tertiary mt-4 py-2">
              <p style="font-weight: bold;">Services Available<br>
              <hr class="home-bottom-servicesection-hr">
              </p>
              <div class="col-6"><i class="fas fa-plane me-2 text-danger"></i><a href="#">Air Freight</a></div>
              <div class="col-6"><i class="fas fa-ship me-2 text-danger"></i><a href="#">Ocean Freight</a></div>
              <div class="col-6"><i class="fas fa-train me-2 text-danger"></i><a href="#">Rail Freight</a></div>
              <div class="col-6"><i class="fas fa-truck me-2 text-danger"></i><a href="#">Road Freight</a></div>
            </div>
          </p>
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          <a href="mailto:intl-shipping@qzyqsj.us" class="btn btn-outline-success rounded-0 px-4">Get Quote</a>
        </div>
      </div>
      <div class="col-md-4 my-md-4">
        <img src="images/about-img.jpg" class="service-image img-fluid rounded-0" alt="...">
      </div>
    </div>
  </div>  
